body {
	text-align: center;
font-size: 55px;
color: violet;
font-weight: 60px;
}
#button {
   font-size: 17px;
   height: 62px;
   width: 200px;
   margin-bottom: 50px;
   background-color: lightblue;
 }

body {
   background-image: url("http://artnmeal.com/5/2015/05/modern-awesome-design-of-the-most-luxury-houses-that-has-minimalist-pool-can-add-the-fresh-nuance-inside-the-modern-house-design-ideas-that-seems-nice-design-inside-1170x780.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

header {
 color: violet;

}